body {
    margin:0;
    padding:0;
    height:100%;
    }
    #top_div
    {
      height:200px;
      width:100%;
      background-color:#009900;
      margin:auto;
      text-align:center;
    }
    #mid1_div
    {
      height:25%;
      width:100%;
      background-color:yellow;
      margin:auto;
      text-align:center;
      color:black;
    }
    #mid2_div
    {
      height:25%;
      width:100%;
      background-color: brown;
      margin:auto;
      text-align:center;
      color:#FFFFFF;
    }
    #bottom_div
    {
      height:300px;
      width:100%;
      background-color:#990000;
      margin:auto;
      text-align:center;
      color:#FFFFFF;
      text-align: center;

    }

    .form-inline {
        
        margin-left: 275px;

    }

    .wrapper {
        text-align: center;
    }

    .weather {
        width: 100%;
    }
   
    #today {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
       width: 25%;
       height: 100%;
    }

    #day2 {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
        width: 25%;
        height: 100%;
    }

    #day3 {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
        width: 25%;
        height: 100%;
    }

    #day4 {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
        width: 25%;
        height: 100%;
    }

    #first {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
        width: 33%;
        height: 100%;

    }

    #second {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
        width: 33%;
        height: 100%;
    }

    #third {
        border-style: solid;
        border-width: 5px;
        border-color: black;
        float: left;
        width: 33%;
        height: 100%;
    }