html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    
    }

    #carouselFluid {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    #top_div
    {
      margin-top: 0px;
      margin-left: 0px;
      /* margin-right: 0px; */

      height:auto;
      width:100%;
      box-shadow: #5f5f5e;
      text-align:center;

      
     
    }

    #drift-header {
        color: white;
        font-family: "Pacifico", cursive; 
    }

    #drift-button {

        color: black;
        size: 18px;
        background: rgb(255, 255, 255, 0.8);

        font-family: "Pacifico", cursive;
        width: 98%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
   .jumbotron {
       z-index: 1;
       margin-bottom: 0;
       background-color: transparent;
   }

   .card {
    margin-bottom: 0;
    width: 250px;
    height: auto;
    opacity: 0.8;
    position: absolute;
    z-index: 0;
  }
  .results-header {
    color: white;
    background-color: navy;
    font-family: "Pacifico", cursive;
  }

   .lead {
     color: white;
   }

    form {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

   .col-sm-10 {
     text-align: center;
   }
    

    input { 
        margin: 10px auto;
    }

  .invalid {
      border-color: #d10c0c;
      background-color: #ff9191;
  }
    .weather {
        width: 100%;
    }
    
    .days {
        float: left;
        width: 20%;
        color: white;
        height: auto;
        text-align: center;
        margin-top: 10px;
        background: rgb(0, 0, 0,0.7)
       
    }
    .smalldisplay {
        text-align: center;

    }

  


    /* .row {
        margin: 0px;
    } */

    #bottom_div
    {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      /* margin-right: 10px;
      margin-left: 10px; */
     
      /* height:250px;
      width:100%; */

    }

    #cards {
      /* height: 400px; */
      width: 100% auto;
      text-align: center;
    
    }
#lead {
  font-weight: bold;
}
#cardholder{
  height: 450px;
  width: 100%;
  overflow: auto;
 text-align: center;

}
@media only screen and (max-width: 700px) {
  #cardholder {
    height:250px;
    width:100%;
    overflow: hidden;
 padding: 0px;

  }

  #cards {
    height: 250px;
    overflow: auto;
    margin-left:10px;
  }
}
body {
  overflow: hidden;
}
    .slide-in-blurred-top {
      text-align: center;
      /* margin-bottom: 10px;
      margin-top: 10px; */
    
    }


    /* #card-row {
        width: 100%;
        margin-top: 10px;
    }
    */

    #first {
      
      
       height: 100%;
        width: 100%;

        background-color: skyblue;

    }


    #second {
      
        
        height: 100%;
         width: 100%;
         background-color: skyblue;
 
     }

     #third {
      
       
        width: 100%;
        height: 100%;
         background-color: skyblue;
 
     }

     /* .scrolling-wrapper {
      
     }
      .card {
        display: inline-block;
      } */
    
    
    
    
.header {
           color: white;
           background: rgb(0,0,0,0.8);
           margin-bottom: 10px;
           height: 20px;
       }

       .image {
           max-height: 100%;
           max-width: 100%;
           overflow: hidden;
       }


    img {
        max-width: 100%;
        max-height: 100%;
    }

    /* .footer {
        margin: 50px 0 50px 0;
        color: white;
    } */


    .slide-in-blurred-top {
        
        -webkit-animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2019-4-4 22:6:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  .ui:hover {
    box-shadow: 0 10px #5f5f5e;
    top: 2px;
}

.ui:active {
    box-shadow: 0 0 #5f5f5e;
    top: 6px;
}
  

.slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-4 22:16:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  


       
    

