html, body {
    margin:0;
    padding:0;
    height:100%;

    
    }
    #top_div
    {
      margin-top: 0px;
      margin-left: 0px;
      height:auto;
      width:100%;

      background-color:skyblue;
      box-shadow: #5f5f5e;
      text-align:center;

      
     
    }

    #drift-header {
        color: navy;
        font-family: "Pacifico", cursive; 
    }

    #drift-button {
        color: white;
        background-color: navy;
        font-family: "Pacifico", cursive;
    }
    
   .jumbotron {
       margin-bottom: 0;
       background-color: transparent;
   }

    form {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

   .col-sm-10 {
     text-align: center;
   }
    

    input { 
        margin: 0 auto;
    }

  
    .weather {
        width: 100%;
    }
    
    .days {
        float: left;
        width: 20%;
        height: auto;
        text-align: center;
        margin-top: 10px;
    }
    .smalldisplay {
        text-align: center;

    }

  


    .row {
        margin: 0;
    }

    #bottom_div
    {

        text-align: center;
      margin-left: 10px;
      height:300px;
      width:100%;
     
      

    }

    #button-row {
        width: 100%;
    }
   

    #first {
      
      
       height: 100%;
        width: 100%;

        background-color: skyblue;

    }


    #second {
      
        
        height: 100%;
         width: 100%;
         background-color: skyblue;
 
     }

     #third {
      
       
        width: 100%;
        height: 100%;
         background-color: skyblue;
 
     }

  

.header {
           color: white;
       }

       .image {
           max-height:50%;
           max-width: 100%;
       }


    img {
        max-width: 100%;
        max-height: 100%;
    }

    .footer {
        margin: 50px 0 50px 0;
        color: white;
    }


    .slide-in-blurred-top {
        
        -webkit-animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2019-4-4 22:6:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  .ui:hover {
    box-shadow: 0 10px #5f5f5e;
    top: 2px;
}

.ui:active {
    box-shadow: 0 0 #5f5f5e;
    top: 6px;
}
  

.slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-4 22:16:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
.carousel-control-next {
  background-color: black;
}


  


    /*.carousel-item {
        margin:0;
        padding:0;
        height:100%;
        }
   
    .carousel-inner .item {
        width :100%;
        height: 400px;
    }

    .carousel-inner > .next {
        display: none;
     }
     .carousel-inner > .prev {
        display: none;
     }

    .carousel-inner>.item{
        /*disables white flash*/
        -webkit-transition: -webkit-transform .5s ease-in-out;
        -o-transition: -o-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
     }

    @media (min-width: 768px) {
        .d-md-block {
           display: block;
        }
      }
      
      .d-none {
           display: none;
      }
*/
    
    

