body {
    margin:0;
    padding:0;
    height:100%;
    }
    #top_div
    {
      height:25%;
      width:100%;
      background-color:#009900;
      margin:auto;
      text-align:center;
    }
    #mid1_div
    {
      height:25%;
      width:100%;
      background-color:yellow;
      margin:auto;
      text-align:center;
      color:black;
    }
    #mid2_div
    {
      height:25%;
      width:100%;
      background-color: brown;
      margin:auto;
      text-align:center;
      color:#FFFFFF;
    }
    #bottom_div
    {
      height:25%;
      width:100%;
      background-color:#990000;
      margin:auto;
      text-align:center;
      color:#FFFFFF;
    }